/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #49332e;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
header p {
  color: black;
  font-size: 25px;
  font-weight: 700;
  display: inline;
}
header img {
  width: 70px;
  height: 70px;
}
header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 70px;
}
header nav a {
  color: white;
  font-size: 25px;
  font-weight: 700;
}
header nav .active {
  color: #f9d794;
}

main {
  width: 100%;
  height: auto;
  background-color: #af948e;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
main h1 {
  color: black;
  font-size: 25px;
  font-weight: 900;
  margin: 50px 20px;
}
main a {
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin: 53px 20px;
}
main .book {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 8px;
}
main .page {
  width: 70%;
}
main .cover {
  width: 150px;
  height: 224px;
  background-size: cover;
  border-style: solid;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-between;
  width: 100%;
  padding-left: 50px;
}

.blogs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: space-between;
  width: 100%;
  padding-left: 50px;
  gap: 50px;
}
.blogs h2 {
  font-size: 25px;
  padding: 10px;
}
.blogs img {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-radius: 15px;
}

aside,
article,
section {
  width: 100%;
  height: 400px;
  background-color: #af948e;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
aside h1,
article h1,
section h1 {
  color: black;
  font-size: 25px;
  font-weight: 900;
  margin: 50px 20px;
}
aside a,
article a,
section a {
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin: 53px 20px;
}

aside,
article {
  width: 50%;
  height: 400px;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.footer div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
}
.footer div h3 {
  color: aliceblue;
}
.footer div p {
  color: #af948e;
}/*# sourceMappingURL=styles.css.map */