/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("//cdn.web-fonts.ge/fonts/alk-life/css/alk-life.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-glaho-bold/css/bpg-glaho-bold.min.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #49332e;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
}
header p {
  color: black;
  font-size: 25px;
  font-weight: 700;
  display: inline;
}
header img {
  width: 70px;
  height: 70px;
}
header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 70px;
}
header nav a {
  color: white;
  font-size: 25px;
  font-weight: 700;
}
header nav .active {
  color: #f9d794;
}
header nav a.active::selection {
  color: rgb(0, 0, 0);
  background: rgb(124, 93, 93);
}

main {
  width: 100%;
  height: auto;
  background-color: #af948e;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
main h1 {
  color: black;
  font-size: 25px;
  font-weight: 900;
  margin: 50px 20px;
}
main a {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
main nav a {
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin: 53px 20px;
}
main .book {
  width: auto;
  height: 300px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 8px;
  transition: transform 0.3s ease-in-out;
}
main .book:hover {
  transform: scale(1.1);
}
main .page {
  width: 70%;
}
main .cover {
  width: 150px;
  height: 224px;
  background-size: cover;
  border-style: solid;
  border-radius: 10px;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
}

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-between;
  width: 100%;
  padding-left: 50px;
}
.books a, .books p {
  font-size: 18px;
  color: #000000;
}

.blogs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: space-between;
  width: 100%;
  padding-left: 50px;
  gap: 50px;
}
.blogs h2 {
  font-size: 25px;
  padding: 10px;
  font-family: "BPG Glaho Bold", sans-serif;
}
.blogs img {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-radius: 15px;
}
.blogs p {
  font-family: "ALK Life", sans-serif;
}
.blogs p::first-letter {
  color: #2c0707;
  font-size: 200%;
}

aside,
article,
section {
  width: 100%;
  height: auto;
  background-color: #af948e;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
aside h1,
article h1,
section h1 {
  color: black;
  font-size: 25px;
  font-weight: 900;
  margin: 50px 20px;
}
aside a,
article a,
section a {
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin: 53px 20px;
}
aside h5,
article h5,
section h5 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6431372549);
  padding-top: 10px;
  width: 70%;
  height: auto;
  padding-left: 50px;
}

aside,
article {
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.footer div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
}
.footer div h3 {
  color: aliceblue;
}
.footer div p {
  color: #af948e;
}

.custom-carousel {
  width: 60%;
  height: 500px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.custom-carousel .carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact div {
  width: 68px;
  height: 68px;
  border-radius: 50px;
  background-color: #5863E3;
  display: inline-block;
}
.contact h1 {
  margin: 0;
}
.contact p {
  color: #424040;
}

.aboutus {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  align-self: center;
}
.aboutus div {
  display: flex;
  flex-direction: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  height: 300px;
}

.headline {
  display: inline-flex;
  flex-wrap: wrap;
}
.headline a {
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin: 53px 20px;
}

.pages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  user-select: text;
}
.pages .right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 8px;
  transition: transform 0.3s ease-in-out;
}
.pages .right:hover {
  transform: scale(1.1);
}
.pages .coverr {
  width: 300px;
  height: 450px;
  background-size: cover;
  border-style: solid;
  border-radius: 10px;
}
.pages .description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  height: auto;
  justify-content: flex-start;
  gap: 10px;
}
.pages .description h1 {
  font-size: 25px;
  font-weight: 900;
  margin: 5px;
}
.pages .description h2 {
  font-size: 20px;
  font-weight: 800;
}
.pages .description p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4901960784);
  padding-top: 10px;
}
.pages .left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  gap: 8px;
}
.pages .left h2 {
  font-size: 20px;
  font-weight: 800;
  color: #241e4d;
}
.pages .left a {
  font-size: 18px;
  color: rgb(4, 62, 81);
}

.shops {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  margin-left: 50px;
}
.shops img {
  width: 120px;
  height: 120px;
  border-style: solid;
  border-radius: 50px;
}
.shops a {
  font-size: 25px;
  font-weight: 700;
}
.shops div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

form {
  align-self: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
  width: 1000px;
  gap: 10px;
}
form label {
  color: #000000;
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

input[type=submit] {
  width: 400px;
  height: 59px;
  background-color: #5968F4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
}

input[type=text1] {
  width: 400px;
  height: 40px;
  border-color: rgba(250, 250, 250, 0.4549019608);
  background-color: rgba(255, 255, 255, 0.3960784314);
  border: 2px solid;
  margin-left: 10px;
}

input[type=text] {
  width: 400px;
  height: 90px;
  border-color: rgba(250, 250, 250, 0.4549019608);
  background-color: rgba(255, 255, 255, 0.3960784314);
  border: 2px solid;
  margin-left: 10px;
}/*# sourceMappingURL=styles.css.map */