@media (max-width: 1270px) {
    section,
    aside,
    article {
        @include w-h(100%, auto);
        p {
            width: 70%;
        }
    }
    .box{
        flex-wrap: wrap;
    }
    main{
        .page{
            width: 80%;
        }
    }
  }

@media (max-width: 730px) {
    section,aside,article{
    .cont{
        flex-direction: column;
    }
}
    .cont{
        flex-direction: column-reverse;
    }
    .aboutus{
        flex-wrap: wrap;
        div{
        @include w-h(auto, auto);
        }
    }
    
}
@media (max-width: 448px){
    input[type=submit],
    input[type=text],
    input[type=text1]{
        width: 70%;
    }
    .books{
        padding: 0;
    }
    .blogs{
        padding-left: 10px;
    }
}
@media (max-width: 1024px) { 
    .burger-icon { 
        display: inline-block; 
    }
    header{
        nav{
            display: none;
        }
    }
    .pages{
        flex-direction: column;
        padding: 10px;
    }
}

@media (max-width: 395px){
    header{
        p{
            display: none;
        }
    }
}