@import "reset";
@import "variables";
@import "placeholders";
@import "mixins";
@import url("//cdn.web-fonts.ge/fonts/alk-life/css/alk-life.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-glaho-bold/css/bpg-glaho-bold.min.css");


header{
    background-color: #49332e;
    @include w-h(100%, 70px);
    @include go-flex(row, wrap, space-between);
    position: fixed;
    z-index: 3;
    p{
        color: black;
        font-size: $lg-font-size;
        font-weight: 700;
        display: inline;
    }
    img{
        @include w-h(70px, 70px);
    }
    nav{
        @include go-flex(row, wrap, space-around);
        @include w-h(60%, 70px);
    a{
        color: white;
        font-size: $lg-font-size;
        font-weight: 700;
    }
    .active{
        color:#f9d794;
    }
}
}

main{
    @include w-h(100%, auto);
    background-color: #af948e;
    @include go-flex(column, nowrap, flex-start, flex-start);
    h1{
        color: black;
        font-size: $lg-font-size;
        font-weight: 900;
        margin: 50px 20px;
    }
    a{
        color: black;
        font-size: $md-font-size;
        font-weight: 500; 
    }
    nav{
        a{
            color: black;
            font-size: $md-font-size;
            font-weight: 500;
            margin: 53px 20px;
        }
    }
    .book{
        @include w-h(200px, 300px);
        @include go-flex(column, wrap);
        margin: 10px;
        gap: 8px;
        @include hover-grow;
    }
    .page{
        width: 70%;
    }
    
    .cover{
        @include w-h(150px, 224px);
        background-size: cover;
        border-style: solid;
        border-radius: 10px;
    }
}

.box{
    @include go-flex(row, nowrap, flex-start, flex-start); 
    box-sizing: border-box;
    width: 100%;
}
.books{
    @include go-flex(row, wrap, space-around, space-between);
    width:100%;
    padding-left: 50px;
}
.blogs{
    @include go-flex(row, wrap, flex-start, space-between);
    width:100%;
    padding-left: 50px;
    gap: 50px;
    h2{
       font-size: $lg-font-size;
       padding: 10px; 
       font-family: "BPG Glaho Bold", sans-serif;

    }
    img{
        width: 200px; 
        height: 200px;
        border-style: solid;
        border-radius: 15px;
    }
    p{
        font-family: "ALK Life", sans-serif;
    }
}
aside,
article,
section{
    @include w-h(100%, auto);
    background-color: #af948e;
    @include go-flex(column, nowrap, flex-start, flex-start);
    h1{
        color: black;
        font-size: $lg-font-size;
        font-weight: 900;
        margin: 50px 20px;
    }
    a{
        color: black;
        font-size: $md-font-size;
        font-weight: 500;
        margin: 53px 20px;
    }
    h5{
        font-size:  $sm-font-size;
        color:#000000a4;
        padding-top: 10px;
        @include w-h(70%, auto);
        padding-left: 50px;
    }
}

aside,
article{
    @include w-h(50%, 400px);
    @include go-flex(column, wrap, flex-start, flex-start);
}


.footer{
    @include w-h(100%, auto);
     background-color: black;
     @include go-flex(row, wrap, space-around);
     div{
        @include go-flex(column, wrap);
        gap: 15px;
        padding: 10px;
        h3{
            color: aliceblue;
        }
        p{
            color: #af948e;
        }
     }
}

.custom-carousel { 
    width: 60%; 
    height: 500px;
    margin: 0 auto; 
    position: relative; 
    z-index: 2;
} 
.custom-carousel .carousel-inner img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}



.contact{
    width: 300px;
    @include go-flex(column);
    gap: 20px;
    div {
        @include w-h(68px, 68px);
        border-radius: 50px;
        background-color: #5863E3;
        display: inline-block;
    }
    h1{
        margin: 0;
    }
    p{
        color:#424040;
    }
}

.aboutus{
    @include go-flex(row, nowrap, space-between);
    gap: 20px;
    align-self: center;
    div{
       @include go-flex(flex-start, wrap, flex-start); 
       @include w-h(600px, 300px);
    }
}

.headline{
    display: inline-flex ; 
    flex-wrap: wrap;
    a{
            color: black;
            font-size: $md-font-size;
            font-weight: 500;
            margin: 53px 20px;
        }
}

.pages{
    @include go-flex();
    gap:20px;
    padding: 20px;
    .right{
        @include go-flex();
        @include go-flex(column, wrap);
        margin: 10px;
        gap: 8px;
        @include hover-grow;}
    .coverr{
        @include w-h(300px, 450px);
        background-size: cover;
        border-style: solid;
        border-radius: 10px;
    }
    .description{
        @include go-flex(column, wrap, flex-start, flex-start);
        @include w-h(40%, auto);
        justify-content: flex-start;
        gap: 10px;
        h1{
            font-size: $lg-font-size; 
            font-weight: 900;
            margin: 5px;
        }
        h2{
            font-size: $md-font-size; 
            font-weight: 800;
        }
        p{
            font-size:  $sm-font-size;
            color:#0000007d;
            padding-top: 10px;
        }
    }
    .left{
        @include go-flex();
        @include go-flex(column, wrap, flex-start, flex-start);
        margin: 10px;
        gap: 8px;
        h2{
            font-size: $md-font-size; 
            font-weight: 800;
            color: #241e4d;
        }
        a{
            font-size:  $sm-font-size;
            color: rgb(4, 62, 81)
        }
    }
    
}

.shops{
    @include go-flex(row, wrap, flex-start, flex-start);
    gap: 40px;
    margin-left: 50px;
    img {
        @include w-h (200px, 200px);
        border-style: solid;
        border-radius: 50px;
    }
    a{
        font-size: $lg-font-size;
        font-weight: 700;
    }
    div{
        @include go-flex(column, wrap, flex-start, flex-start);
        gap: 15px;
    }
}