@import "reset";
@import "variables";
@import "placeholders";
@import "mixins";

header{
    background-color: #49332e;
    @include w-h(100%, 70px);
    @include go-flex(row, wrap, space-between);
    p{
        color: black;
        font-size: $lg-font-size;
        font-weight: 700;
        display: inline;
    }
    img{
        @include w-h(70px, 70px);
    }
    nav{
        @include go-flex(row, wrap, space-around);
        @include w-h(50%, 70px);
    a{
        color: white;
        font-size: $lg-font-size;
        font-weight: 700;
    }
}
}

main{
    @include w-h(100%, 400px);
    background-color: #af948e;
    @include go-flex(column, nowrap, flex-start, flex-start);
    h1{
        color: black;
        font-size: $lg-font-size;
        font-weight: 900;
        margin: 50px 20px;
    }
    a{
        color: black;
        font-size: $md-font-size;
        font-weight: 500;
        margin: 53px 20px;
    }
    .book{
        @include w-h(150px, 250px);
        @include go-flex(column, wrap);
    }
    .cover{
        background-image: url(https://apiv1.biblusi.ge/storage/book/yZ7M4N9IsnCUtjkX82LZDiCAMzgiQtowksKFG3BC.jpg);
        @include w-h(100px, 150px);
        background-size: cover;
    }
}

.container{
    @include go-flex(row, nowrap, flex-start, flex-start); 
}
aside,
article,
section{
    @include w-h(100%, 400px);
    background-color: #af948e;
    @include go-flex(column, nowrap, flex-start, flex-start);
    h1{
        color: black;
        font-size: $lg-font-size;
        font-weight: 900;
        margin: 50px 20px;
    }
    a{
        color: black;
        font-size: $md-font-size;
        font-weight: 500;
        margin: 53px 20px;
    }
}

aside,
article{
    @include w-h(50%, 400px);
}


.footer{
    @include w-h(100%, 200px);
     background-color: black;
     @include go-flex(row, wrap, space-around);
     div{
        @include go-flex(column, wrap);
        gap: 15px;
        padding: 10px;
        h3{
            color: aliceblue;
        }
        p{
            color: #af948e;
        }
     }
}